<section class="jumbotron text-center">
  <div class="container">
    <h1 class="container__title"><%= user.full_name %></h1>
    <p class="lead text-muted"><%= t('views.users.username') %> <%= user.username %></p>
    <p class="lead text-muted"><%= user.location %></p>
    <p class="lead text-muted"><%= user.email %></p>
    <p>
    </p>
  </div>
</section>
