<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <link href="https://vjs.zencdn.net/7.20.2/video-js.css" rel="stylesheet" />
        <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
        <h1 class="mt-4"><%= @course.title %></h1>
        <h5 class="mt-4">Category: <%= @course.category.name %></h5>
        <p class="lead">
          by
          <a href="#"><%= link_to @course.author.full_name, user_path(@course.author_id) %></a>
        </p>
        <hr>
        <p>Posted on <%= date_parses(@course.created_at) %></p>
        <hr>
        <video
          id="my-video"
          class="video-js"
          controls
          preload="auto"
          width="640"
          height="264"
          poster="<%= url_for(@course.thumbnails.first) %>"
          data-setup="{}"
        >
          <source src="<%= url_for(@course.video_tutorial) %>%" type="video/mp4" />
          <source src="<%= url_for(@course.video_tutorial) %>%" type="video/mov" />
          <p class="vjs-no-js">
            <a href="https://videojs.com/html5-video-support/" target="_blank"
              ></a
            >
          </p>
        </video>
        <hr>
        <% if authorized?(@course.author_id) %>
          <%= link_to t('button.edit', resource: humanize(Course)),
              edit_user_course_path(@course.author_id, @course.id),
              class: "btn btn-secondary" %>
        <% end %>
      <script src="https://vjs.zencdn.net/7.20.2/video.min.js"></script>
    </div>
  </div>
</div>
